!!! 5
html
 include includes/head
 body
  #page1(data-role='page') 
   #h(data-role='header')(data-theme='a')
    h1 Mekano
   #x(data-role='content')(style='padding: 15px')
    a(href='/cuentas', data-role='button' , data-transition='fade') Cuentas
   #y(data-role='content')(style='padding: 15px')
    a(href='/compras', data-role='button' , data-transition='fade') Compras
   #f(data-role='footer')(data-position='fixed')(data-theme='a')
    h2 Mekano SIGE 2012